<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="materialtest.jufequinta.navigationdrawer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_shop"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controller.Activities.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.Activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Controller.Activities.CardPresentationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Controller.Activities.MainActivity">
        </activity>
        <activity
            android:name=".Controller.Activities.ItemDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_ItemDetail"
            android:parentActivityName=".Controller.Activities.MainActivity">
        </activity>

        <activity
            android:name=".Controller.Activities.AppDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_AppDetail"
            android:parentActivityName=".Controller.Activities.MainActivity">
        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
